<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
   
  </style>
</head>
<body>

<div>
   
   
   
     <ul class="nav">
       <li class="active"><a routerLink = '/men'>Men</a></li>
        <li ><a routerLink = '/women'>Women</a></li>
        <li ><a routerLink = '/kids'>Kids</a></li>
         <!-- <li ><a routerLink = '/cart'>Cart</a></li>-->
        
      </ul><br>
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">KHAN RETRO</div>
        <div class="panel-body"><img src="assets/rg4.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">plastic frame price ₹999
         <button (click) = "addtocart($event)"class="btn btn-primary pull-right" type="submit">Add to cart</button>
         </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading" style = "color : white">RAYBAN</div>
        <div class="panel-body"><img src="assets/rg3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">stainless steel ₹1599
         <button (click) = "addtocart($event)"class="btn btn-primary pull-right" type="submit">Add to cart</button>
        </div>
      </div>
    </div> 
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">OAKLEY</div>
        <div class="panel-body"><img src="assets/rg2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">titanium ₹1496
         <button (click) = "addtocart($event)"class="btn btn-primary pull-right" type="submit">Add to cart</button>
        </div>
      </div>
    </div> 
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">RAYBON</div>
        <div class="panel-body"><img src="assets/rg5.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Acetate ₹1899
         <button (click) = "addtocart($event)"class="btn btn-primary pull-right" type="submit">Add to cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">CARRERA</div>
        <div class="panel-body"><img src="assets/rg6.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Plastic Frame ₹1500
         <button (click) = "addtocart($event)"class="btn btn-primary pull-right" type="submit">Add to cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">OTHER</div>
        <div class="panel-body"><img src="assets/rg8.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Stainless ₹1000
         <button (click) = "addtocart($event)"class="btn btn-primary pull-right" type="submit">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div><br><br>
</div>
</body>
</html>
