<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
   
  </style>
</head>
<body>
<div>
   
   
   
     <ul class="nav">
       <li class="active"><a routerLink = '/men'>Men</a></li>
        <li ><a routerLink = '/women'>Women</a></li>
        <li ><a routerLink = '/kids'>Kids</a></li>
        <!--  <li ><a routerLink = '/cart'>Cart</a></li>-->
        
      </ul><br>
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">OAKLEY</div>
        <div class="panel-body"><img src="assets/m1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Titanium Frame price ₹1000                 
        <button (click) = "addtocart($event)"class="btn btn-primary pull-right" type="submit">Add to cart</button>
         </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading" style = "color : white">VINCENT CHASE</div>
        <div class="panel-body"><img src="assets/m2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Stainless Steel ₹1200
        <button (click) = "addtocart($event)"class="btn btn-primary pull-right" type="submit">Add to cart</button>
        </div>
      </div>
    </div> 
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">RAY BAN</div>
        <div class="panel-body"><img src="assets/m3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Plastic Frame ₹1145
        <button (click) = "addtocart($event)"class="btn btn-primary pull-right" type="submit">Add to cart</button>
        </div>
      </div>
    </div> 
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">KALVIN CLEIN</div>
        <div class="panel-body"><img src="assets/m4.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Italian Acetate ₹1234
        <button (click) = "addtocart($event)"class="btn btn-primary pull-right" type="submit">Add to cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">JHON JACOBS</div>
        <div class="panel-body"><img src="assets/m6.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Acetate Frame ₹1000
        <button (click) = "addtocart($event)"class="btn btn-primary pull-right" type="submit">Add to cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">POLAROID</div>
        <div class="panel-body"><img src="assets/m7.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">TR90 Retro ₹1077
        <button (click) = "addtocart($event)"class="btn btn-primary pull-right" type="submit">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div><br><br>
</div>
</body>
</html>
