<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
   
  </style>
</head>
<body>
<div>
   
   
   
     <ul class="nav">
       <li class="active"><a routerLink = '/men'>Men</a></li>
        <li ><a routerLink = '/women'>Women</a></li>
        <li ><a routerLink = '/kids'>Kids</a></li>
        <li ><a routerLink = '/cart'>Cart</a></li>
      </ul><br>
<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">RAY BAN</div>
        <div class="panel-body"><img src="assets/w1.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">plastic frame price $15.99                   
        <button class="btn btn-primary pull-right" type="submit">Add to cart</button>
         </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading" style = "color : white">JHON JACOBS</div>
        <div class="panel-body"><img src="assets/w2.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">stainless steel $20.00 
        <button class="btn btn-primary pull-right" type="submit">Add to cart</button>
        </div>
      </div>
    </div> 
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">OAKLEY</div>
        <div class="panel-body"><img src="assets/w3.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">titanium $12.45
        <button class="btn btn-primary pull-right" type="submit">Add to cart</button>
        </div>
      </div>
    </div> 
  </div>
</div><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary">
        <div class="panel-heading">KALVIN CLEIN</div>
        <div class="panel-body"><img src="assets/w4.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Stainless $8.99
        <button class="btn btn-primary pull-right" type="submit">Add to cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">VINCENT CHASE</div>
        <div class="panel-body"><img src="assets/w5.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Acetate Frame $16.88
        <button class="btn btn-primary pull-right" type="submit">Add to cart</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="panel panel-primary">
        <div class="panel-heading">POLAROID</div>
        <div class="panel-body"><img src="assets/w6.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
        <div class="panel-footer">Italian Acetate $8.77
        <button class="btn btn-primary pull-right" type="submit">Add to cart</button>
        </div>
      </div>
    </div>
  </div>
</div><br><br>
</div>
</body>
</html>
